# This is a basic workflow to help you get started with Actions

name: Generic Testing Workflow Local

on:
  push:
    branches:
      - testing-nexus-speed
  workflow_dispatch:  # Allows manual runs

jobs:
  nexus-local:
    runs-on: self-hosted   # local runner
    strategy:
      max-parallel: 3
      matrix:
        iteration: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get Maven Settings
        shell: bash
        run: |
          echo "${{ secrets.NEXUS_LOCAL_SETTINGS_XML }}" | base64 --decode > ./settings.xml

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin
          overwrite-settings: false

      - name: Record start time
        run: echo "start_time=$(date +%s)" >> $GITHUB_ENV

      - name: Maven Clean & Compile
        shell: bash
        run: mvn clean compile --settings settings.xml

      - name: Record runtime
        if: always()
        shell: bash
        run: |
          end_time=$(date +%s)
          duration=$(( end_time - start_time ))
          mins=$(( duration / 60 ))
          secs=$(( duration % 60 ))
          {
            echo "### Iteration ${{ matrix.iteration }}"
            echo ""
            echo "â± Took **${mins}m ${secs}s**"
            echo ""
          } >> $GITHUB_STEP_SUMMARY
