name: Generic Testing Workflow Local

on:
  push:
    branches:
      - testing-nexus-speed
  workflow_dispatch:  # Enables manual run from GitHub UI


jobs:
  nexus-cloud:
    runs-on: self-hosted
    strategy:
      max-parallel: 3
      matrix:
        iteration: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get Maven Settings
        shell: bash
        run: |
          echo "${{ secrets.NEXUS_LOCAL_SETTINGS_XML }}" | base64 --decode > $HOME/.m2/settings.xml

      - name: Set up JDK
        id: setup-java
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin
          overwrite-settings: false
      - name: Test Nexus Connectivity
        run: |
          echo "Testing Nexus availability on localhost:8081..."
          curl -v http://localhost:8081/repository/maven-proxy-test2/ || true
          
      - name: Show settings.xml
        run: |
          echo "===== settings.xml ====="
          cat $HOME/.m2/settings.xml

          echo "========================"

      - name: Show Effective Settings
        run: mvn help:effective-settings --settings $HOME/.m2/settings.xml



      - name: Record start time
        id: start
        run: echo "start_time=$(date +%s)" >> $GITHUB_ENV

      - name: Maven Clean & Compile
        shell: bash
        run: mvn clean compile --settings $HOME/.m2/settings.xml -X

      - name: Write runtime to job summary
        if: always()
        shell: bash
        run: |
          end_time=$(date +%s)
          duration=$(( end_time - start_time ))
          mins=$(( duration / 60 ))
          secs=$(( duration % 60 ))
          {
            echo "### Iteration ${{ matrix.iteration }}"
            echo ""
            echo "â± Took **${mins}m ${secs}s**"
            echo ""
          } >> $GITHUB_STEP_SUMMARY
